.gallery-row {
  display: flex;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .gallery-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 425px) {
  .gallery-row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
