.stories-hero {
  position: relative;
  height: 600px; /*to close a gap i cant otherwise figure out */
  width: 100%;
  overflow: hidden;
}

.stories-hero-img {
  transition: 0.5s ease-in;
}

.stories-hero:hover .stories-hero-img {
  transform: scale(1.1) rotate(-2deg);
  filter: blur(3px);
}

.stories-hero-text-content-wrapper {
  position: absolute;
  z-index: 5;
  inset: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0rem var(--mainPaddingX);
  transition: 0.2s ease;
  filter: blur(1.5px);
}

.stories-hero:hover .stories-hero-text-content-wrapper {
  filter: blur(0px);
}

.hero-title {
  margin: 1.5rem 0;
}

.hero-blurb {
  margin: 1.5rem 0;
  line-height: 2.5rem;
}

.stories-hero-text-content {
  width: 40rem;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .stories-hero-text-content-wrapper {
    padding: 12rem 3rem;
  }
}

@media screen and (max-width: 375px) {
  .stories-hero {
    height: auto;
  }

  .stories-hero:hover .stories-hero-img {
    transform: scale(1) rotate(0deg);
    filter: blur(0px);
  }

  .stories-hero-img {
    display: block;
    height: 100%;
    width: 100%;
    min-width: 300px;
  }

  .stories-hero-text-content-wrapper {
    background: black;
    width: auto;
    padding: 6rem var(--mainPaddingX);
    position: relative;
    filter: blur(0px);
  }

  .stories-hero-text-content {
    width: auto;
  }
}
