.gallery-item {
  /* border: 3px solid blue; */
  position: relative;
  flex: 1;
  cursor: pointer;
  transition: 0.25s ease-out;
}

.gallery-item-img {
  height: 100%;
}

.gallery-item-content {
  position: absolute;
  inset: 0;
  padding: 3rem;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  color: var(--white);
  text-shadow: 1px 1px 1px black;
  overflow: hidden;
}

.gallery-item-title-author-div {
  margin: 2rem 0;
  border-bottom: 1px solid white;
  width: 100%;
  padding: 2rem 0;
}

.gallery-item-title {
  white-space: nowrap;
}

.gallery-item-author {
  font-weight: 300;
}

.hovered-highlight {
  opacity: 0;
  transition: 0.25s ease;
}

.gallery-item:hover .hovered-highlight {
  opacity: 1;
}

.gallery-item:nth-child(odd):hover {
  transform: translateY(-1.5rem) rotate(2deg);
  box-shadow: 2px 3px 5px rgba(15, 20, 20, 0.45),
    4px 10px 15px rgba(15, 20, 20, 0.45);
  z-index: 10;
}

.gallery-item:nth-child(even):hover {
  transform: translateY(-1.5rem) rotate(-2deg);
  box-shadow: 2px 3px 5px rgba(15, 20, 20, 0.45),
    4px 10px 15px rgba(15, 20, 20, 0.45);
  z-index: 10;
}

.hovered-highlight {
  position: absolute;
  inset: 0;
}

@media screen and (max-width: 425px) {
  .gallery-item-img {
    width: 100%;
    min-width: 300px;
  }
}
