.header {
  padding: 1rem var(--mainPaddingX);
  position: relative;
  z-index: 15;
  background: var(--white);
}

.header-content-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-link-item {
  transition: 0.25s ease;
}

/* .header-link {
  color: var(--black);
  text-transform: uppercase;
  transition: 0.25s ease;
  position:relative;
} */

.header-link h5 {
  color: var(--black);
  text-transform: uppercase;
  transition: 0.25s ease;
  position: relative;
}

.header-link-item:hover h5 {
  text-shadow: 1px 1px 1px var(--darkgray);
  transform: scaleY(1.2);
}

.home-logo-link {
  color: black;
  transition: 0.25s ease;
}

.home-logo-link:hover {
  transform: rotate(-3deg) scale(1.1);
  transition: 0.1s ease;
  text-shadow: 1px 1px 5px rgba(15, 15, 10, 0.35);
}

@media screen and (max-width: 550px) {
  .header {
    padding: 2rem;
  }
}
