.home-features-row {
  padding: 12rem var(--mainPaddingX);
  display: flex;
  align-items: stretch;
  gap: 2.5rem;
}

@media screen and (max-width: 650px) {
  .home-features-row {
    flex-direction: column;
  }
}
