.desktop-tablet-header {
  display: flex;
  background: var(--black);
  color: var(--white);
  position: relative;
}

.desktop-header-col {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.page-header-content {
  padding: 0rem 11rem;
}

.page-header-title {
  margin-bottom: 2.5rem;
}

.page-header-blurb {
  line-height: 2.5rem;
}

.mobile-page-header {
  display: none;
  background: var(--black);
  color: var(--white);
  position: relative;
}

.mobile-header-row {
  position: relative;
}

@media screen and (max-width: 375px) {
  .desktop-tablet-header {
    display: none;
  }
  .mobile-page-header {
    display: block;
  }

  .mobile-header-content {
    padding: 6rem var(--mainPaddingX);
  }
}
